.Rproj.user
.Rhistory
.RData
.Ruserdata
/ignored
*.tex
*.pdf
*.docx
casualty-adjustment.csv
casualties_adjusted.Rds
*.geojson
*.html
lads.Rds
crashes_active_london.*
*.Rds
*.zip
raw*
counties-*
*.tif
*.tif
*.ods
rnet_split.gpkg
*.asc
*.xml
*gpkg
*.pbf
/data
/tmp
/data_otp
/demMYEB1_detailed_population_estimates_series_UK_.2019_geog20.csv
MYEB1_detailed_population_estimates_series_UK_.2019_geog20.csv
*csv*
*cache*
